@model TransitSystem.ViewModels.RouteDetailData

@{
    ViewBag.Title = "Create";
}

<h2>@Model.SelectedRoute.RouteName</h2>
<style>
ul#tagBlock li {
    font-size:small;
    font-weight:600;
    margin-top:5px;
    margin-bottom:5px;
}

</style>
@using (Html.BeginForm())
{
@Html.HiddenFor(m => m.ActiveGroupIndex)
@Html.HiddenFor(m => m.SelectedRoute.RouteName)
@Html.HiddenFor(m => m.SelectedRoute.RouteID)
<div id="accordion">
    @for (int i = 0; i < Model.Groups.Count; i++)
    {
        <h4>@Html.DisplayFor(m => m.Groups[i].GroupLocation.Name)</h4>
        <div>
            @Html.HiddenFor(m => m.Groups[i].OnBoardItem.OnBoardID)
            @Html.HiddenFor(m => m.Groups[i].IsSet)
            @Html.HiddenFor(m => m.Groups[i].GroupLocation.Name)
            <ul id="tagBlock" style="list-style-type:none">
            @for (int j = 0; j < Model.Groups[i].GroupDetails.Count; j++)
            {
                <li>
                @*<input type="number" min="0" max="255" style="width:50px"/>*@
                @Html.HiddenFor(m => m.Groups[i].GroupDetails[j].DetailsID)
                @Html.EditorFor(m => m.Groups[i].GroupDetails[j].Count)
                @Html.DisplayFor(m => m.Groups[i].GroupDetails[j].Tag.Description)
                @Html.HiddenFor(m => m.Groups[i].GroupDetails[j].Tag.Description)
                </li>
            }
            </ul>
            <button type="submit" name="Command" value=@Model.Groups[i].OnBoardItem.OnBoardID class="btn btn-default">Set</button>
            @*<input type="submit" name="Command" value="Set" class="btn btn-default" />*@
        </div>
    }
</div>
<input type="submit" name="Command" value="Save and Reset" class="btn btn-default" />
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#accordion').accordion({
            heightStyle: "content",
            active: Number(@Model.ActiveGroupIndex)
        });
    });
</script>

@*<table class="table">
    <tr>
        <th>Location</th>
        <th>Passengers</th>
    </tr>
    <tbody>
        @foreach (var loc in Model.RouteLocations)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => loc.Name)</td>
                @foreach (var tag in Model.CurrentTags)
                {
                    <td>
                        @Html.DisplayFor(modelItem => tag.Description)
                        <input type="number" min="0" max="255" style="width:50px" />
                    </td>
                }
                <td>
                    <input type="submit" value="Set" class="btn btn-default" />
                </td>
            </tr>
        }
    </tbody>
</table>*@

<div>
    @Html.ActionLink("Back to Route List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
