@model TransitSystem.ViewModels.OnBoardRouteData

@{
    ViewBag.Title = "Create";
}

<h2>@Model.SelectedRoute.RouteName</h2>
<table class="table">
    <tr>
        <th>Location</th>
        <th>Passengers</th>
    </tr>
    <tbody>
        @foreach (var loc in Model.RouteLocations)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => loc.Name)</td>
                @foreach (var tag in Model.CurrentTags)
                {
                    <td>
                        @Html.DisplayFor(modelItem => tag.Description)
                        <input type="number" min="0" max="255" style="width:50px" />
                    </td>
                }
                <td>
                    <input type="submit" value="Set" class="btn btn-default" />
                </td>
            </tr>
        }
    </tbody>
</table>
@foreach (var item in Model.RouteLocations)
{

}

<div>
    @Html.ActionLink("Back to Route List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
