@model IEnumerable<TransitSystem.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Location Manager</h2>

<p>
    @Html.ActionLink("Add New Location", "Create")
</p>

@using (Html.BeginForm())
{
    <p>@Html.TextBox("SearchString")
        <input type="submit" value="Search" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.LocationID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationID })
        </td>
    </tr>
}

</table>
