@model TransitSystem.ViewModels.RouteIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Route Manager</h2>

<p>
    @Html.ActionLink("Add New Route", "Create")
</p>
<table class="table">
    <tr>
        <th>Route Name</th>
        <th></th>
    </tr>

@foreach (var item in Model.Routes)
{
    string selectedRow = "";
    if (item.RouteID == ViewBag.RouteID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.RouteName)
        </td>
        <td>
            @Html.ActionLink("Change Location Order", "Index", new { id = item.RouteID }) |
            @Html.ActionLink("Add/Remove Locations", "Edit", new { id=item.RouteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RouteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RouteID })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#sortable').sortable({
            helper: fixWidthHelper
        }).disableSelection();
    
        function fixWidthHelper(e, ui) {
            ui.children().each(function () {
                $(this).width($(this).width());
            });
            return ui;
        }})
</script>

@if (Model.Locations != null)
{
    using (Html.BeginForm())
    {
    <h3>Locations Visited by Route</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        <tbody id="sortable">
        @foreach (var item in Model.Locations)
        {
            string selectedRow = "";
            if (item.LocationID == ViewBag.LocationID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Name
                    <input type="hidden"
                           name="orderedLocations"
                           value="@item.LocationID" />
                </td>
                <td>
                    @item.Address
                </td>
            </tr>
        }
        </tbody>


    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Order" class="btn btn-default" />
        </div>
    </div>
        }
    }