@model TransitSystem.ViewModels.RouteIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Route Manager</h2>

<p>
    @Html.ActionLink("Add New Route", "Create")
</p>
<table class="table">
    <tr>
        <th>Route Name</th>
        <th></th>
    </tr>

@foreach (var item in Model.Routes)
{
    string selectedRow = "";
    if (item.RouteID == ViewBag.RouteID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.RouteName)
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.RouteID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.RouteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RouteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RouteID })
        </td>
    </tr>
}

</table>


@if (Model.Locations != null)
{
    <h3>Locations Visited by Route</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Address</th>
        </tr>

        @foreach (var item in Model.Locations)
        {
            string selectedRow = "";
            if (item.LocationID == ViewBag.LocationID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { locationID = item.LocationID })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
            </tr>
        }

    </table>
}